body {
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-position: #fff;
}

ul {
    display: flex;
}
