body {
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
    width: 100%;
}

.container {
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2f404f;

}

img {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    text-align: center;
    background-color: rgb(32, 138, 184);
    color: #fff;
    padding: 15px 0;
}

nav {
    padding: 0;
    margin: 0;
}
div.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;

}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #2f404f;
    margin: 0;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    font-family: helvetica;
    color: #fff;
    text-transform: uppercase;
}

a:hover {
    color: rgb(143, 105, 236);
}

.text  {
    column-count: 2;
    line-height: 20px;
    color: rgb(224, 224, 224);
    padding: 0 15px;
    font-family: helvetica;
}

footer {
    text-align: center;
    color: rgb(142, 142, 142);
    background-color: rgb(39, 39, 40);
}
